{
  "env": {
    "es6": false,
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": ["warn", 2],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "object-curly-newline": [
      "error",
      {
        "ImportDeclaration": "never"
      }
    ]
  }
}
