.goal-item {
  margin: 1rem 0;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
}

.goal-item button {
  background: none;
  padding: 1rem 2rem;
  width: 100%;
  border: none;
  color: inherit;
}
